.index{
    width:50%;
}
.index h1, .login h1, .post h1{
    padding-top: 30px;
    text-align: center;
    font-family: cursive;
    color: chocolate;
}
.index .name ,.index .password{
    font-size: 16px;
    /* border:none;
    border-bottom: black solid; */
    border-width: thin;
    /* margin-bottom: 20px; */
}
.index h6{
    font-weight: 400;
}
.login.loginname, .login.loginpassword{
    font-size: 16px;
    /* border:none;
    border-bottom: black solid; */
    border-width: thin;
    margin-bottom: 10px;
    color: navy;
}
.index label {
    text-align: left;
   margin-right:0px;
   font-size:16px
}

.index button{
    
    margin-right:50px;
    color:black;
    border-radius: 10px;
    font-size: 16px;
    width:100px;
    height:40px;
    background-color: chocolate;
    border: none;
    /* margin-right: 30px; */
}
.login button{
    margin-right:50px;
    color:black;
    border-radius: 10px;
    font-size: 16px;
    width:100px;
    height:40px;
    background-color: chocolate;
    border: none;
    margin-top: 20px;
}
.login label {
    text-align: left;
   margin-right:0px;
   font-size:16px;
   margin-bottom:-5px;
}
.post .logout{
    margin-top: -60px;
    text-decoration: underline;
    font-weight: bold;
    /* color:black;
    border-radius: 10px;
    font-size: 16px;
    width:100px;
    height:40px;
    background-color: chocolate;
    border: none; */
}
.post .inputEl{
    height:200px;
}
.post .addToDoBtn{
    background-color: blue;
    font-size: medium;
    border: none;
    font-weight: bold;
}
.post .heading{
    padding-top: 20px;
    text-align: center;
    border: none;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}
.updateBtn{
    background-color:greenyellow;
    text-align: center;
    border: none;
    font-weight: bold;
    
    text-transform: capitalize;
    position: relative;
    bottom: 0;
    right: 0;
    margin-left: 5%;
    margin-top: 7%;

}
.deleteBtn{
    background-color: red;
    margin-top: 7%;
    color: black;
    margin-left: 50%;
    text-align: center;
    border: none;
    font-weight: bold;
    text-transform: capitalize;
}
p{
    padding-top: 2%;
}